/* @import url(ewl-font.css); */

.ewl-nav {
    /* height: 100px; */
    background-color: var(--gray-800);
    box-shadow: 0px 0px 3px 3px var(--gray-600);
    padding: 10px 0px;
    position: sticky;
    top: 0;
}



/* css for navbar collapse toggle */
.ewl-nav-toggler {
    background-color: var(--yellow-500);
}


.ewl-nav-dropdown-list {
    /* height: 100px; */
    background-color: var(--gray-800);
    box-shadow: 0px 0px 3px 1px var(--yellow-400);
}


.ewl-nav-link,
.ewl-nav-dropdown-item {
    color: var(--yellow-500);
    font-size: 18px;
    font-family: var(--ibm-plex-sans);
    font-weight: 500;
}

.ewl-nav-link:hover,
.ewl-nav-link:focus {
    color: var(--gray-800);
    background-color: var(--yellow-500);
}

.ewl-nav-link {
    width: max-content;
    text-align: center;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ewl-nav-dropdown:hover,
ewl-nav-dropdown:focus, */
/* .ewl-nav-dropdown-toggle:focus {
    color: var(--yellow-500);
    
} */

/* override bs class */
/* .nav-link.active.show {
    color: var(--yellow-500);
} */

.ewl-nav-brand {
    color: var(--yellow-500);
    font-weight: 900;
    font-size: 22px;
    font-family: var(--font-playwrite-db-s-cursive);
}
.ewl-nav-brand:hover {
    color: var(--yellow-500);
}


/* Style for navbar icon */
.ewl-nav-brand-icon {
    width: 64px;
    height: 64px;
    /* background-color: var(--yellow-500); */
}

/* Style for navbar container inside `nav` */
.ewl-nav-container {
    margin: 0px 5rem;
}



@media screen and (max-width: 400px) {
    
    .ewl-nav-container {
        margin: 0px 0rem;
    }

}