<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll vertical</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="scroll-buttons">
        <div class="scroll-inner">
            <button class="up">Up</button>
        </div>
        <div class="scroll-inner">
            <button class="down">Down</button>
        </div>
    </div>

    <div class="row">
        <div class="col col-left"></div>
        <div class="col col-content">
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>

            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>
            
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>

            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>

            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>
            
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>

            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>
            
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti accusantium dolore sequi. A nulla, sunt ex ratione, quis laudantium hic quasi itaque beatae, nostrum alias in? Omnis, porro aspernatur.
                </p>
            </div>
        </div>
        <div class="col col-right"></div>
    </div>

    <script src="index.js"></script>
</body>
</html>